

$colorz: (
    primary: #1976D2,
    secondary: #424242,
    accent: #82B1FF,
    error: #FF5252,
    info: #2196F3,
    success: #4CAF50,
    yellow: #FFC107,
    white: #fff,
);



@mixin infobox_mixin($border-radius, $padding, $margin-bottom, $color){
    border:$border-radius solid $border-color;
    padding:$padding;
    margin-bottom:$margin-bottom;
    color:$color;
};